/* Whole page */
* {
background-color: rgb(251, 245, 240);
margin: 0;
padding: 0;
}

/* Home page - header/navbar */
header {
  z-index: 1;
  float: center;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background-color: rgb(251, 245, 240, 0.5);
}

.headerInitials {
  overflow: hidden;
  text-align: center;
  padding: 10px;
  font-size: 5em;
  font-weight: 700;
  font-family:"Reenie Beanie";
  color:black;
  background-color: rgb(251, 245, 240, 0.5);
}

.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  border-top: 5px solid black;
  box-shadow: 0 0 10px 0 #f8f9fa;
  background-color: rgb(251, 245, 240, 0.5);
}

.topnav a {
  text-decoration: none;
  color:Black;
  font-family: "Hind", sans-serif;
  font-size: 1.2em;
  background-color: rgb(251, 245, 240, 0.1);
}

.topnav a:hover {
  scale: 1.2;
  box-shadow:10px rgb(93, 93, 93, 0.7);
  transition: 0.4s;
}

/* Div Spacer - Header + Homepage spacing */
.spacing {
  margin-top: 150px;
}

/* Homepage - text and video */
.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;

  /* border: 2px solid black; */
}

.homepageText h2 {
  text-align: left;
  font-family: "Reenie Beanie";
  font-size: 4em;
  margin-top: 10px;
}

@media (min-width: 1000px) {
  .homepageText {
    text-align: center;
  }
}

.homepageText {
  flex: 1;
  position: relative;
  margin: 35px;
  margin-bottom: 25px;
  padding: 20px;
  padding-left: 40px;
  text-align: justify;
  font-size: 1.3em;
  font-family: "Hind", sans-serif;
  animation: homepageTextAnim 2s cubic-bezier(0.12, 0, 0.39, 0) 1s 1 normal none;
  /* animation-delay: 2s; */
  /* border: 2px solid black; */
}

.homepageText p {
  margin-top: 40px;
}

.videoContainer {
  display:flex;
  align-content: center;
  justify-content: center;
  margin: 5%;
  /* border: 2px solid black; */
}

.homepageVideo {
  flex: 1;
  position: relative;
  max-width: 75%;
  padding: 4%;
  margin: 10px;
  background-color: white;
  border: 3px solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: homepageVidAnim 2s cubic-bezier(0.12, 0, 0.39, 0) 1s 1 normal none;
  /* animation-delay: 2s; */
}

@keyframes homepageTextAnim {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes homepageVidAnim {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media (max-width: 1000px) {
  .homepage {
    flex-direction: column;
  }
}

/* Home page - gallery styling */
img {
  width: 100%;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

.mItem :hover {
  transform: scale(1.3);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
} 

.grid {
  /* display:grid; */
	column-count: 5;
	column-gap: 16px;
  align-content: center;
  margin: 40px;
}

.grid .mItem {
  margin-bottom: 16px;
  width:100%;
}

@media (max-width: 1199px) {
  .grid {
    column-count: 5;
  }
}

@media (max-width: 991px) {
  .grid {
    column-count: 4;
  }
}

@media (max-width: 767px) {
  .grid {
    column-count: 3;
  }
}
